wifi_ssid: "YourWiFiNetworkName"
wifi_password: "YourWiFiPassword"
api_encryption_key: "your32characterbase64keyhere"
ap_password: "fallback_password_min_8_chars"
air_quality_monitor__web_password: "your_web_dashboard_password"
